# Ignore Gradle project files
.gradle
build
out
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# Ignore IntelliJ project files
.idea

# Ignore Sandra files
logs
config.json

